html {
    font-size: 16px;
}
body {
     font-family: "Merriweather", serif;
     margin: 0;
}
.header_bg {
    position: relative;
}
.header_img {
    display: block;
    width: 100%;
    height: auto;
}
.header_img_max {
    display: none;
}
.header_img_mobile {
    display: none;
}
.header_content {
    position: absolute;
    z-index: 3;
    left: 4.5rem;
    top: 1.625rem;
    max-width: 33.875rem;
}
.header_content_logo {
    width: 15.375rem;
    height: auto;
    margin-bottom: 3.375rem;
}
.header_content_title {
    font-size: 3.75rem;
    line-height: 1.1;
    text-transform: uppercase;
}
.center {
    text-align: center;
}
.header_content_subtitle {
    font-size: 1.125rem;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}
.header_content_buttons {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
}
.header_content_buttons a {
    background-color: #1F1F1F;
    padding: 0 1.25rem;
    box-sizing: border-box;
    border-radius: 4.125rem;
    border: 2px solid #1F1F1F;
    color: #FFFFFF;
    text-align: center;
    min-width: 16.4375rem;
    height: 4.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.header_content_buttons a:hover {
    background-color: #FBCE51;
    border: 2px solid #FBCE51;
    color: #1F1F1F;
}

.header_content_buttons a:nth-child(2n) {
    background-color: transparent;
    color: #1F1F1F;
}
.header_content_buttons a:nth-child(2n):hover {
    background-color: #1F1F1F;
      border: 2px solid #1F1F1F;
      color: #FFFFFF;
}
.section {
    max-width: 1286px;
    padding: 0 32px;
    box-sizing: border-box;
    margin: 80px auto 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}
.section_text {
    font-size: 2.25rem;
    text-transform: uppercase;
    color: #313131;
}
.chess_img {
    width: 24.625rem;
}
.red {
    color: #F54932
}
.section_bender_image {
    width: 29.625rem;
    height: auto;
}
.section_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.table_row {
     width: 100%;
     display: flex;
}
.table_row div {
    width: 100%;
    color: #313131;
    font-size: 1.25rem;
    font-family: "Golos Text", sans-serif;
    opacity: 70%;
    padding: 1rem;
    box-sizing: border-box;
    border-top: 0;
    border-left: none;
    border-bottom: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
}
.table_row div:nth-child(2n) {
   opacity: 100%;
   font-weight: 600;
   border-right: none;
   border-left: 1px solid #D0D0D0;
}
.bottom {
    border-bottom: none !important;
}
.section_details {
    font-family: "Golos Text", sans-serif;
    font-size: 1.25rem;
    color: #3057A2;
    cursor: pointer;
}
.steps_title {
    font-family: "Merriweather", serif;
    color: #313131;
    font-size: 3.375rem;
    display: flex;
    max-width: 1286px;
    padding: 0 32px;
    box-sizing: border-box;
    margin: 10.3125rem auto 2.125rem;
    text-transform: uppercase;
}
.steps_title_details {
  margin-top: 4.875rem;
  margin-left: -18.75rem;
}
.steps_block {
    position: relative;
    max-width: 1286px;
    padding: 0 32px;
    box-sizing: border-box;
    margin: 0 auto;
}
.step_img_mobile {
    display: none;
    position: absolute;
    width: 335px;
    height: auto;
    position: absolute;
    top: -130px;
    left: 32px;
}
.steps {
    display: flex;
    gap: 1.25rem;
    margin-top: 1.25rem;
}
.step {
    background-color: #e3d4c1;
    padding: 1.25rem;
    display: flex;
    gap: 0.625rem;
    width: 24.625rem;
    box-sizing: border-box;
}
.step_number {
    width: 2.25rem;
    height: 2.25rem;
    font-size: 1.25rem;
    font-family: "Golos Text", sans-serif;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.step_text {
    font-family: "Golos Text", sans-serif;
    font-size: 1.25rem;
}
.step_common_height {
    height: 7rem;
}
.steps_row {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 1.25rem;
}
.steps_row:nth-child(2n) {
    margin-bottom: 0;
}
.step_3 {
    height: 15.25rem;
    width: auto;
    flex-grow: 1;
}
.step_7 {
    flex-grow: 1;
    position: relative;
}
.step_img {
    width: 25rem;
    height: auto;
    position: absolute;
    top: -6.25rem;
    right: -3.75rem;
}
.attendees_pages, .steps_pages {
    display: flex;
    gap: 14px;
    align-items: center;
}
.attendees_pages_mobile {
    display: none;
}
.steps_pages {
    display: none;
    margin-top: 8px;
    justify-content: center;
}
.pages_arrow, .attendees_pages_arrow, .pages_arrow_step {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D0D0D0;
    cursor: pointer;
}
.pages_arrow, .pages_arrow_step {
    background-color: #1F1F1F;
}
.not_active {
    background-color: #D0D0D0;
}
.attendees_pages_arrow {
    width: 44px;
    height: 44px;
}
.attendees {
    max-width: 1286px;
    padding: 0 32px;
    box-sizing: border-box;
    margin: 12.5rem auto 0;
    font-family: "Golos Text", sans-serif;
}
.attendees_pages_number {
    font-size: 1rem;
}
.attendees_title {
    font-family: "Merriweather", serif;
    text-transform: uppercase;
    font-size: 3.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.75rem;
}
.attendees_pages_number_grey {
    opacity: 60%;
}
.attendee_link {
    border: 1px solid #3057A2;
    border-radius: 3.875rem;
    padding: 0.75rem;
    font-size: 1rem;
    color: #3057A2;
    cursor: pointer;
}
.attendees_images {
    justify-content: space-between;
    display: none;
}
.attendee_image {
    width: 20rem;
    height: auto;
}
.attendee {
    text-align: center;
    display: block;
}
.attendee_name {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 1.75rem 0 0.5rem;
}
.attendee_subtitle {
    font-size: 1.25rem;
    opacity: 60%;
    margin-bottom: 1.875rem;
}
.footer {
    background-color: #E9DED4;
    padding: 2.5rem 4.5rem;
    font-size: 1rem;
    color: grey;
}
.desktop_hide {
    display: none;
}
.mobile_hide {
    display: inline-block;
}
.mobile_hide_flex {
    display: inline-flex;
}
.active {
    background-color: #1F1F1F;
}
.active_pages {
    display: flex;
}
.running_stroke {
    width: 100%;
    background: #F54932;
    height: 3.75rem;
    overflow: hidden;
    box-sizing: border-box;
    padding: 1.125rem 0;
}
.footer_stroke {
    margin-top: 12.5rem;
}
.running_stroke_text {
    font-family: "Merriweather", serif;
    font-size: 1.375rem;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    width: max-content;
    animation: running_stroke 30s linear infinite;
}
.running_stroke_text span {
    white-space: nowrap;
}
@keyframes running_stroke {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 600px) {
    .running_stroke {
        height: 38px;
        padding: 10px 0;
    }
    .running_stroke_text  {
        font-size: 16px;
    }
    .attendee {
        display: none;
    }
    .active_page {
        display: block;
    }
    .attendees_title {
        font-size: 36px;
    }
    .mobile_hide {
        display: none;
    }
    .desktop_hide {
        display: inline-block;
    }
    .header_img {
        display: none;
    }
    .header_img_max {
        display: none;
    }
    .header_content_subtitle {
        font-size: 18px;
        margin-top: 24px;
        margin-bottom: 32px;
    }
    .header_img_mobile {
        display: block;
        width: 100%;
        height: auto;
    }
    .header_content_title  {
        font-size: 36px;
    }
    .header_content_buttons {
        flex-direction: column;
    }
    .header_content {
        max-width: 335px;
        top: 18px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    .header_content_logo {
        margin-bottom: 40px;
    }
    .header_content_buttons a {
        padding: 20px 0;
        box-sizing: border-box;
        min-width: auto;
        height: 47px;
    }
    .header_content_buttons a:nth-child(2n) {
        background-color: #FFFFFF;
        border: none;
    }
    .section {
        flex-direction: column;
        padding: 0 18px;
        margin: 42px auto 0;
        gap: 24px;
    }
    .steps_pages {
        display: flex;
        margin-top: 28px;
    }
    .attendees_pages {
        display: none;
    }
    .attendees_pages_mobile {
        display: flex;
        gap: 14px;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    .step_3 {
        height: auto;
    }
    .steps_block {
        padding: 0 18px;
        margin: 148px 0 0;
    }
    .steps {
        margin-top: 0;
        flex-direction: column;
        gap: 0;
    }
    .step {
        width: 100%;
        padding: 0 0 28px;
    }
    .mobile_step {
        padding: 62px 24px 0;
        height: 300px;
        box-sizing: border-box;
        display: none;
    }
    .steps_row {
        background-color: #e3d4c1;
        gap: 0;
        flex-direction: column;
        margin-bottom: 0;
    }
    .step_common_height {
        height: auto;
    }
    .active_step {
        display: flex;
    }
    .step_text {
        font-size: 18px;
    }
    .step_img {
        display: none;
    }
    .step_img_mobile {
        display: inline-block;
    }
    .step_7 {
        position: static;
    }
    .section_text {
        font-size: 28px;
    }
    .chess_img {
        width: 100%;
    }
    .header_bg {
        max-width: auto;
    }
    .table_row {
        flex-direction: column;
    }
    .table_row div {
        border-right: none;
        border-bottom: none;
        padding: 1rem 0;
    }
    .table_row div:nth-child(2n) {
        border-left: none;
        border-bottom: 1px solid #D0D0D0;
        padding: 0 0 1rem;
    }
    .section_details {
        font-size: 18px;
    }
    .section_bender_image {
        width: 100%;
    }
    .table {
        margin: 44px 0 40px;
    }
    .steps_title {
        padding: 0 18px;
        margin: 120px auto auto;
        flex-direction: column;
        font-size: 36px;
    }
    .steps_title_details {
        margin-top: 0;
        margin-left: 0;
    }
    .step_bullets {
        display: flex;
        gap: 6px;
    }
    .step_bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #D0D0D0;
    }
    .active {
        background-color: #1F1F1F;
    }
    .attendees {
        padding: 0 18px;
        margin: 120px auto 0;
    }
    .attendees_images {
        flex-direction: column;
        display: flex;
    }
    .attendee_image {
        width: 244px;
        height: auto;
    }
    .footer {
        padding: 78px 20px 60px;
        font-size: 1rem;
    }
    .mobile_hide_flex {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    html {
        font-size: 8px;
    }
}
@media (min-width: 800px) and (max-width: 1000px) {
    html {
        font-size: 10px;
    }
}
@media (min-width: 1000px) and (max-width: 1200px) {
    html {
        font-size: 12px;
    }
}
@media (min-width: 1200px) and (max-width: 1300px) {
    html {
        font-size: 14px;
    }
}
@media (min-width: 600px) and (max-width: 1300px) {
    .section {
        justify-content: space-around;
    }
}

@media (min-width: 1800px) {
    .header_content {
        left: 21.8125rem;
        top: 26px;
    }
    .header_img_max {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
        max-width: 1920px;
    }
    .header_img {
        display: none;
    }
}